@{
    ViewData["Title"] = "Home Page";
    ViewData["Saludo"]= "HOLAAAAAAAAAAAAAAAAAAAAAAAA";
    ViewData["Mensaje 2"]="Ayuda";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["Saludo"]</p>
    <p>@ViewData["Mensaje 2"]</p>
</div>
